@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=IBM+Plex+Mono:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
/* NAVBAR */

.navbar{
    margin: 0px;
    background-color:palegoldenrod;
}
#logo{
    font-family: 'Babylonica', cursive;
    font-size: 40px;
    font-weight: bold;
    color:#6b6243 ;
}
.navbar button{
    color:#6b6243;
}
#offcanvasNavbar{
    width: 250px;
    background-color:palegoldenrod;
}

/* MAIN TEXT */

.maintext{
    height: 650px;
    text-align: center;
    background-color:palegoldenrod
}
.maintext h1{
    font-size: 50px;
    text-align: center;
    padding-top: 250px;
}
.maintext p{
    color: black;
    margin: auto;
    font-size: 25px;
    padding: 20px;
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes typing {
    from {
      width: 0
    }
  }
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}

/* ABOUT */

.about{
    padding: 60px;
    background-color:#c2955f;
}
.about h2{
  color: black;
}
.about p{
  color: black;
}

/* SKILLS */

.skills h1{
    padding: 70px;
}
.skills{
    background-color: whitesmoke;
    padding: 50px;
}

/* PORTFOLIO */

.portfolio h1{
    padding: 30px;
    color: black;
}
.portfolio{
    background: darkseagreen;
    margin-bottom: 0px;
}
.imgdiv{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 50px;
    justify-content: space-evenly;
}
.img1{
    text-align: center;
}
#img{
    background-color: rgb(98, 139, 98);
    margin: 30px;
}
.portfolio img{
    border: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 15px;
    margin: 20px;
    width: 300px;
}
  

  
/* EDUCATION */

.education{
    margin: 30px;
}
#education{
    background-color:#afafaf;
    padding: 10px;
    color: black;
    margin-top: 0px;
  }
.education h1{
    padding: 30px;
}
#edu p{
    color: black;
}
/* FOOTER */

#card{
  background-color: palegoldenrod;
}
.card-body{
  background-color:rgb(57, 87, 57);
}
.card-body h5,p{
  color:white ;
}
#cardfooter{
  background-color: black;
  color: white;
  font-weight: bolder;
}