@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=IBM+Plex+Mono:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

/* NAVBAR */

.navbar{
    margin: 0px;
    background-color: white;
}
#logo{
    font-family: 'Babylonica', cursive;
    font-size: 40px;
    font-weight: bold;
}
.navbar button{
    color: black;
}

/* MAIN TEXT */

.maintext{
    margin: 250px 30px;
    text-align: center;
}
.maintext h1{
    font-size: 50px;
    text-align: center;
    margin: 20px;
}
.maintext p{
    font-size: 20px;
    padding: 20px;
}

/* ABOUT */

.shadow{
    margin:50px;
    padding: 20px;
}

/* SKILLS */

.skills h1{
    padding: 70px;
}
.skills{
    margin: 30px;
}

/* PORTFOLIO */

.portfolio h1{
    padding: 70px;
}
.portfolio{
    margin: 30px;
}
.divimg{
    text-align: center;
    justify-content: space-evenly;
}
.webimg{
    margin-bottom: 50px;
    padding: 20px;
}
.divimg a img{
    width: 250px;
    border: groove;
    border-color:black;
    border-radius: 20px;
}
.divimg img:hover{
    width:270px
}
.divimg h4{
    padding-bottom: 30px;
}


/* EDUCATION */

.education{
    margin: 30px 30px 100px 30px;
}
.education h1{
    padding: 70px;
}
